html
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="stars.css")
    body
        .stars-outer
            input(type="hidden", value="34").star-value
            input(type="hidden", value="9").star-counter
            .stars-inner
        script(src="stars-actions.js")            